.exp {
  background-repeat: no-repeat;
}
.white-text, footer {
  color: white;
}
.daily-button, .weekly-button, .monthly-button {
  cursor: pointer;
}
.child2-detail:hover {
  background-color: hsl(236,100%,87%);
  cursor: pointer;
}
.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}
