.exp {
  background-repeat: no-repeat;
}
.white-text, footer, .daily-button:active, .weekly-button:active, .monthly-button:active, .daily-button:hover, .weekly-button:hover, .monthly-button:hover, .daily-button:focus, .weekly-button:focus, .monthly-button:focus {
  color: white;
}
.daily-button, .weekly-button, .monthly-button {
  cursor: pointer;
}
.detail-hovering:hover {
  background-color: hsl(236, 41%, 34%);
  cursor: pointer;
}
.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}
